.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
}
.preview {
  position: relative;
  top: 20px;
  width: 200px;
  color: #ffffff;
  font-weight: 660;
  font-size: 16px;
  background: #1398f0;
}

.info-success {
  color: #18b459;
}

.info-error {
  color: #e74c3c;
}
